body {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 414px;
  min-height: 100vh;

  display: flex;

  margin: 0;
  margin-left: auto;
  margin-right: auto;

  border: solid 1px black;
}

.Exercises {
  flex: 1;

  padding-left: 1rem;
  padding-right: 1rem;
  /* background-color: blue; */
}